* {
    box-sizing: border-box;
    text-align: center;
    /*width: 960px;
    height: 650px;*/
}
#flexContainer{
    display: -webkit-flex;
    display: flex;
    width: 960px;
    height: 650px;
}

header{
    width: 960px;
    margin-bottom: 0px;
    padding: 15px;
    text-align: left;
}
header h1{
    text-align: left;
    padding: 30px;
}

ul{
alignment: right;
}

li{
    display: inline;
}

p{

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
hr{
    color: lightgray;

}
.hrLine{
    width: 95%;
}
h2{
    color: #4aaaa5;
    font-family:  'Georgia', Times, Times New Roman, serif;
    padding-top:15px;
}
h1{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: right;
    color: white;
}
h4 span{
    color: white;
    font: bold 12px Arial, Helvetica, san-serif;
    height: 15px;
    letter-spacing: -1px;
    background: #4aaaa5;
    padding: 10px;
    /*https://css-tricks.com/text-blocks-over-image/*/
}

h5{
    text-align: center;
}
nav a {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; ;
}
hr{
    display:block;
    border-width: 1px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}
a:link, a:visited, a:hover, a:active {

    text-decoration: none;
    color: grey;

}

.h1_dHollaway
{
    background-color: #4aaaa5;
    display: inline;

}
.imageAbout{
    float: left;
    margin: 10px;
}
.aboutMeText{
    text-align: left;
    margin: 5px;

}
.aboutMeTitle {
    text-align: left;
}
#mainContainer{
    background-image: url("../images/concrete-texture.png");
    width: 100%;

}

.headerNav{text-align: right;padding-right: 15px;}


#AboutMe{
    margin: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #ffffff;
    width: 550px;
    float: left;
}

#Contact{
    margin: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
    width: 550px;
    float: left;

}

#Portfolio{
    margin: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
    width: 550px;
    float: left;
}
.imagePortfolio{

    float:left;
    padding: 10px;
}
.image1{
    position: absolute;
    top: 292px;
    left:115px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}
.image2{
    position: absolute;
    top: 290px;
    left:330px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}
.image3{
    position: absolute;
    top: 440px;
    left:115px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}
.image4{
    position: absolute;
    top: 440px;
    left:360px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}

.image3{
    position: absolute;
    top: 440px;
    left:115px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}
.image4{
    position: absolute;
    top: 440px;
    left:360px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}

.image5{
    position: absolute;
    top: 590px;
    left:135px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}
.image6{
    position: absolute;
    top: 592px;
    left:315px;
    /*opacity:.75;*/
    display: inline;
    float: left;
}
#ConnectWithMe {
    margin: 30px;
    margin-right: 30px;
    background-color: #ffffff;
    padding-bottom: 20px;
    height: 200px;
    width:250px;
    float:left;
}

.button{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    width: 115px;
    display: block;
}
.footerborder {
    padding: 5px;
    margin-top: 10px;
    background-color: #4aaaa5;
    display: flex;
    width: 960px;
}

.formContact{
    color:grey;
    text-align: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin:50px;
}

.inputText{

    display: block;
    width: 90%;

}
.formTextTop p {

    display:block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0px;;
    margin:1px;
}
footer{
    background-color:#667 ;
    text-align: center;
    color: #fff;
    padding: 15px;
    display: flex;
    width: 960px;
}

/* media queries*/
@media only screen and  (max-width: 640px) {
    body {
        display: -webkit-flex;
        display: flex;
        width: 640px;
        background-color: blue;
        /*height: 650px;*/
    }
}

@media only screen and (max-width: 768px) {
    body {
        display: -webkit-flex;
        display: flex;
        width: 768px;
        background-color:red;
        /*height: 650px;*/
    }
}

@media only screen and (min-width: 980px) {
    body {
        display: -webkit-flex;
        display: flex;
        width: 960px;
        background-color: orange;
        /*height: 650px;*/
    }
}